<md-card>
    <form ng-submit="login.onlogin()">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Iniciar sesión</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-input-container>
                <label>Usuario</label>
                <input ng-model="login.credenciales.user">
            </md-input-container>

            <md-input-container>
                <label>Contraseña</label>
                <input ng-model="login.credenciales.pass" type="password">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit">Aceptar</md-button>
        </md-card-actions>
    </form>
</md-card>