<md-card>
    <form ng-submit="submitForm()">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-input-container>
                <label>Nombre</label>
                <input ng-model="producto.nombre">
            </md-input-container>

            <md-input-container>
                <label>Descripción</label>
                <textarea ng-model="producto.descripcion"></textarea>
            </md-input-container>

            <md-input-container>
                <label>Precio</label>
                <input ng-model="producto.precio" type="number" step="any">
            </md-input-container>

            <md-input-container>
                <label>Cantidad</label>
                <input ng-model="producto.cantidad" type="number">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="regresar()">Regresar</md-button>
            <md-button type="submit">Guardar</md-button>
        </md-card-actions>
    </form>
</md-card>