<md-card ng-init="loadStuff()">

    <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
        <div class="md-toolbar-tools">
            <span>Catálogo de productos</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="nuevoProducto()">
                <md-icon>add</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="loadStuff()">
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="detalleProducto()">
                <md-icon>remove_red_eye</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="editarProducto()">
                <md-icon>edit</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select="true" ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="nombre"><span>Nombre</span></th>
                    <th md-column md-desc md-order-by="descripcion"><span>Descripción</span></th>
                    <th md-column md-numeric md-order-by="precio"><span>Precio</span></th>
                    <th md-column md-numeric md-order-by="cantidad"><span>Cantidad</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="item" md-auto-select="true" md-on-select="logItem" ng-repeat="item in items | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{item.nombre}}</td>
                    <td md-cell>{{item.descripcion}}</td>
                    <td md-cell>{{item.precio | currency : '$'}}</td>
                    <td md-cell>{{item.cantidad | number: 0}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 20]" md-page="query.page" md-total="{{items.length-1}}"></md-table-pagination>
</md-card>