<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marketplace</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css" rel="stylesheet">
    <link href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./assets/app.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.min.js"></script>
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="./src/app.js"></script>
    <script src="./src/Config.js"></script>
    <script src="./src/services/AuthService.js"></script>
    <script src="./src/services/ProductoService.js"></script>
    <script src="./src/services/HistorialService.js"></script>
    <script src="./src/components/login/LoginController.js"></script>
    <script src="./src/components/admin/productos/ProductosController.js"></script>
    <script src="./src/components/admin/historial/HistorialController.js"></script>
    <script src="./src/components/cliente/productos/ClienteProductosController.js"></script>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()" aria-label="Mostrar menú">
            <md-icon>menu</md-icon>
        </md-button>
        <img class="logo" src="./assets/img/logo-transparente.png" alt="Marketplace logo">
        <h1>Marketplace</h1>
    </md-toolbar>

    <div flex layout="row">
        <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="app.toggleList()">
            <md-list>

                <md-list-item>
                    <md-button href="/">
                        <md-icon class="icon">home</md-icon>
                        <span>Inicio</span>
                    </md-button>
                </md-list-item>


                <!-- Admin -->
                <md-list-item>
                    <md-button href="/admin/productos">
                        <md-icon class="icon">style</md-icon>
                        <span>Productos</span>
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button href="/admin/historial">
                        <md-icon class="icon">shop_two</md-icon>
                        <span>Historial</span>
                    </md-button>
                </md-list-item>

                <!-- Cliente -->
                <md-list-item>
                    <md-button href="/cliente/productos">
                        <md-icon class="icon">add_shopping_cart</md-icon>
                        <span>Productos</span>
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button href="/cliente/carrito">
                        <md-icon class="icon">shopping_cart</md-icon>
                        <span>Carrito</span>
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button href="/cliente/compras">
                        <md-icon class="icon">shop_two</md-icon>
                        <span>Compras</span>
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button href="/cliente/recargar">
                        <md-icon class="icon">attach_money</md-icon>
                        <span>Recargar</span>
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button ng-click="app.logout()">
                        <md-icon class="icon">lock</md-icon>
                        <span>Cerrar sesión</span>
                    </md-button>
                </md-list-item>

            </md-list>
        </md-sidenav>

        <md-content flex id="content">
            <ng-view></ng-view>
        </md-content>
    </div>
</body>

</html>