<div ng-init="getAll()">
    <md-card ng-repeat="item in items">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.nombre}} - {{item.precio | currency: '$'}}</span>
                <span class="md-subhead">{{item.descripcion}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row"  layout-align="space-between">
            <div class="md-media-xl card-media">
                <img src="/assets/img/buy-now.png" alt="buy-now">
            </div>

            <md-card-actions layout="column" layout-align="space-around">
                <md-button class="md-icon-button" ng-click="agregarProducto(item)" aria-label="Añadir al carro">
                    <md-icon>add_shopping_cart</md-icon>
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</div>